*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}

h1{
    font-size: 2.62rem;
    font-family: 'Indie Flower', cursive;
    color:rgb(187, 185, 185);
}

h2{
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    color: rgb(51, 51, 51);
}
p{
    font-size: 1.25rem;
    font-family: 'Architects Daughter', cursive;
}

span {
    color:rgb(226, 224, 224);
}

/*Grid template*/

.container{
    display: grid;
    height:100vh;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1.5fr 1fr 1fr 1fr 1fr 0.2fr 0.1fr;
    grid-template-areas:
    "nav nav nav nav"
    "header header header header"
    "skills skills skills skills"
    "aboutMe aboutMe aboutMe aboutMe"
    "projects projects projects projects"
    "contact contact contact contact"
    "links links links links"
    "footer footer footer footer";
}


/*Nav bar*/


nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    position:sticky;
    top:0;
    justify-content: flex-end;
    align-items: center;
    background-color: rgb(26, 188, 156);
    font-family: 'Indie Flower', cursive;
    font-size: 1.35rem;
    height:auto;
    opacity:0.7;
}

nav a {
    color:rgb(226, 224, 224);
    padding: 0.87rem 1.25rem;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    background-color: rgb(226, 224, 224);
    color: rgb(51, 51, 51);
}

/*banner*/


header{
    grid-area: header;
    width:100%;
    height:auto;
    width:calc(80%-20%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10%;
    background-color:rgb(51, 51, 51);
    border-radius: 0 0 1.87rem 1.87rem;
}

header h2{
    color:rgb(26, 188, 156);
    font-family: 'Courier New', Courier, monospace;
}

.img-heading{
    width: 15.62rem;
    height: 21.87rem;
    margin-left: 4rem;
}

header img{
    width: 15.62rem;
    height: 21.87rem;
    border-radius: 50%;
    border:rgb(26, 188, 156) solid 3px; ;
}


section{
    width:calc(100%-2rem);
    padding: 2rem;
    background-color: rgb(226, 224, 224);
    
}


/*Sliding Bar*/
.skills{
    grid-area: skills;
}


.sliding-bar-container{
    color:rgb(51, 51, 51);
    background:rgb(216, 214, 214);
    border-radius: 1.87rem;
    padding: 2.5rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.1);
    margin:  4rem 0;
}

.progress-container{
    display: flex;
    margin: 1.25rem;
    align-items: center;
    height:70px;
}

.name{
    width: 10rem;
    font-size: 1.25rem;
    color:rgb(51, 51, 51)
}

.progress{
    flex: 1;
    height: 1rem;
    border-radius: 0.5rem;
    background: rgb(240,240,240);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
}

.progress-width{
height: 1rem;
width: 0;
border-radius: 0.5rem;
display: inline-block;
position: relative;
animation: 1s ease-out forwards;
}

progress-width::after{
    position: absolute;
    content:" ";
    width: 1.25rem;
    height: 1.25rem;
    background-color: #fff;
    right: -10px;
    top: -6px;
    border-radius: 50%;
    background: rgb(255,255,255);
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
}

.html{
    animation-name: slideHTML;
    background: rgb(26, 188, 156);
    opacity: 0.8;
}

.html::after{
    border: 2px solid rgb(26, 188, 156);
}

.css{
    animation-name: slideCSS;
    background: rgb(51, 51, 51);
    opacity: 0.8;
}

.css::after{
    border: 2px solid rgb(51, 51, 51);
    opacity: 0.8;
}

.javascript{
    animation-name: slideJS;
    background: rgb(26, 188, 156);
    opacity: 0.8;
}

.javascript::after{
    border: 2px solid rgb(26, 188, 156);
    opacity: 0.8;
}

@keyframes slideHTML{ to { width: 90%; } }
@keyframes slideCSS{ to { width: 75%; } }
@keyframes slideJS{ to { width: 55%; } }

/*About me section*/

.aboutMe{
    grid-area: aboutMe;
}
.about-me{
    
    justify-content: center;
    align-content: center;
    border-radius:   3.12rem ;
    background-color: rgb(26, 188, 156);
    color:rgb(51, 51, 51);/*rgb(187, 185, 185);*/
    padding: 2rem;
    margin: 4rem 0;
    border-right:2px solid rgb(26, 188, 156);
    text-align: justify;
}

/*Projects gallery*/


.projects{
    grid-area: projects;
    
}
.projects h2{
    text-align: center;
    
}


.row {  
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    
}


.column {
    
    padding: 0 4.37rem;
    
}


.card{
    margin-top:100px;
    width:250px;
    height:250px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.212);
    background:#fff;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    transition: all .4s;
}

.card img{
    width: 250px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.212) ;
    cursor: pointer;
    z-index: 10;
    transition: all .4s;

}

.card:hover img{
    margin-top: -30px;

}

.card:hover{
    width:260px;
}

.card::before{
    content: "5.10 climbing shoes";
    letter-spacing: 0.2em;
    position:absolute;
    bottom: 8px;
    left: 20px;
    color: rgb(51,51,51);
    font-size: 0.6em;
    font-family:sans-serif;
    font-weight:700;
}

.pch::before{
    color:rgb(0, 0, 0);
    content: "Product Card Hover";
}

.cb::before{
    content:"JavaScript Game";
    color: #010165;
}

.ca::before{
    content:"Static Website";
    color: rgb(116, 114, 114);
}

.ex::before{
    content:"Landing App Page";
    color: rgb(0, 0, 0);
}

.sb::before{
    content:"Progress Bar";
    color: rgb(0, 0, 0);
}

.srs::before{
    content:"Star Rating System";
    color: rgb(34, 34, 33);
}

/*contact hiding button*/


.contact{
    grid-area: contact;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button{
    padding:5px;
    width: 9.37rem;
    font-size:0.87rem;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 0px 5px;
    text-align: center;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    margin-top: 5px;
    color: black;
    box-shadow: 0px 0px;
}

.contact-form{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20.75rem;
    background-color:rgb(26, 188, 156);
    border-radius: 1.87rem ;
    padding: 2rem; 
    
}

.contact-form h2{
    color:rgb(226, 224, 224);
    margin:2rem 0;
}

form{
    display: flex;
    flex-direction: column;
    width:40%;

}
.text-box{
    height: 6.25rem;
    font-size: 0.87rem;
    text-align: left;
}

/*Social Link*/

.links{
    grid-area: links;
    padding:0;
}

.social-links  {
    color:rgb(226, 224, 224);
    padding: 0.87rem 1.25rem;
    text-decoration: none;
    text-align: center;
}


footer{
    grid-area: footer;
    color:rgb(51,51,51);
    padding:0;
    text-align: center;
}

@media only screen and(max-width: 480px) {
    .row {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    nav{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    }
    h1, h2, p{
        font-size: 1rem;
    }
    .heading hgroup h1 h2{
        font-size: 1rem;
    }
    .img-heading{
        width:9.37rem;
        height:9.37rem;
        margin-left:0;
    }
    header img{
        width:9.37rem;
        height:9.37rem;
    }
    .card{
        width:9.37rem;
        height:9.37rem;
    }
    .card img{
        width:9.37rem;
        height:9.37rem;
    }
    .card:hover{
        display: none;
    }

    form{
        width:100%;
        }
    }

